if SHIELD_ITERATION_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Iteration"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 1

config BT_MAX_CONN
    default 6

config BT_MAX_PAIRED
    default 6

endif

if SHIELD_ITERATION_LEFT || SHIELD_ITERATION_RIGHT

config ZMK_SPLIT
    default y

# Display alleen activeren voor de rechterkant om build errors op links te voorkomen
if SHIELD_ITERATION_RIGHT

config ZMK_DISPLAY
    default y

config ZMK_WIDGET_LAYER_STATUS
    default y

config ZMK_WIDGET_BATTERY_STATUS
    default y

config ZMK_WIDGET_BATTERY_STATUS_SHOW_PERCENTAGE
    default y

config ZMK_WIDGET_OUTPUT_STATUS
    default y

endif

endif

# ---------------------
# Kconfig for shield "iteration_right" with board "nice_nano_v2"
# ---------------------
if BOARD_NICE_NANO_V2 && SHIELD_ITERATION_RIGHT

config SPI
    default y

endif
